body {
    background-image: 
    linear-gradient(
      rgba(50, 70, 255, 0.3), 
      rgba(50, 70, 255, 0.3)
    ), 
    url(https://live.staticflickr.com/4042/4687819515_49c5b19acd_b.jpg);

    /* Background image by the Institute for the Study of the Ancient World 
    accquired via Creative Commons. Allowed for modification. */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

}


main {
  padding-bottom: 100px;
}

footer{
  position:fixed;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  background-color: black;
  color: white;
}

/* For the radio buttons in FormPart1 (Step 1) */
.methodBtns {
  display: none;
}